@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Urbanist:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Urbanist', sans-serif;
  letter-spacing: .5px;
  font-size: 14px;
  background-color: #f8f8f8;
  font-weight: 500;
}

.max-con
{
  max-width: 1320px;
}
.bg-light{
  background-color: transparent !important;
}

.header-active {
  background-color: #453567 !important;
}

.navbar {
  padding: .8rem;
  font-size: 1.1em;
  transition: 0.5s;
}

.nav-item {
  padding-right: 20px;
}

.nav-item {
  font-weight: 400;
}

.navbar-nav li a {
  color: #fff !important;
}


.full-bg-img {
  background-image: url(img/mask.png);
  background-size: 100% 100%;
  height: 100vh;
}

.overcome-info {
  padding-top: 100px;
}

.header-info {
  padding-top: 100px;
}

.header-info h3 {
  color: white;
  padding-top: 15px;
}

.header-info h1 {
  color: white;
  padding-top: 20px;
}

.header-info p {
  color: white;
  padding-top: 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px
}

.login {
  background-color: white;
  border: none;
  color: black;
  width: 140px;
  height: 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0;
  transition: .5s;
}

.login-button {
  background-color: white;
  border: none;
  margin-right: 10px;
  margin-top: 10px;
  color: black;
  width: 160px;
  height: 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0;
  transition: .5s;
}  
}

.login:hover {
  background-color: #B26BEA;
  color: white;
}

.bg-img {
  background-image: url(img/oshape.png);
  background-size: 100% 100%;
  height: 100vh;
}

.about-sec {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.about-sec, h4 {
  color: #594E79;
}

.about-sec, .academic-sec h3 {
  color: #993895 !important;
}

.para-1 p {
  padding-top: 10px;
  padding-bottom: 40px;
}

a {
  color: black;
}

.button-1 {
  background-color: #993795;
  border: none;
  margin-right: 10px;
  margin-top: 10px;
  color: white;
  width: 160px;
  height: 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0;
  transition: .5s;
  margin-top: 20px;
}

.button-1:hover {
  background-color: #463568;
}

.action h4 {
  color: white;
}

.action h3 {
  color: white;
}

.academic-sec {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.action {
  margin-top: 50px;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.video-sec {
  padding-top: 50px;
}

#loading {
    -webkit-animation: rotation 6s infinite linear;
}

@keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

/***** Sadie *****/
/*---------------*/

.grid {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  max-height: 360px;
  width: 48%;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

figure.effect-sadie figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
  background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(0,50%,0);
  transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: #484c61;
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate3d(0,10px,0);
  transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
  color: #fff;
  -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
  transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/***** Contact Form *****/
/*---------------*/

.bg-img-2 {
   background-image: url(img/contactshape.png);
  background-size: 100% 100%;
  height: 100vh;
}

html{
    background: Slateblue;
    box-sizing:border-box;
}
*{
  box-sizing:inherit;
}

.contact-heading {
  padding-top: 50px;
  color: white;
}

.column {
  color: #fff !important;
}

label{
  display:block;
  margin:1em 0 .2em;
}
/* single-line text, checkbox, and button */
input, select, textarea{
  display:block;
  width:100%;
  padding:.3em;
  font-size:20px;
  background-color:#fbfbfb;
  border:solid 1px #CCC;
  resize:vertical;
}
textarea{
  min-height:180px;
}
select{
  color:indigo;
}
option{
  color:blue;
  background: lavenderBlush;
}
input[type=checkbox]{
  display:inline;
  width:auto;
  color:red;
}

input[type=submit]{
  background:lightcoral;
  margin:1em 0 0;
  color:white;
  border:none;
  border-radius:8px;
  transition:all .3s ease-out;
}

input:focus,
input:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover{
  background: lavenderBlush;
}

/* hover and focus states */
input[type=submit]:hover,
input[type=submit]:focus{
  background: lightgreen;
  outline:none;
}

@media screen and (min-width:600px) {
  /*  make the form 2 columns */
  form:after{
    content:'';
    display:block;
    clear:both;
  }
  .column{
    width:50%;
    padding:1em;
    float:left;
  }
}

















/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/



.wrapper {
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-top: -17%;
  transform: translate(-50%,-50%)
}

.video-main {
  position: relative;
  display: inline-block;
}

.video {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: transparent;
  color: #fff;
  display: inline-block;
  background: #000000;
  z-index: 999;
}

@keyframes waves {
  0% {
    -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  50% {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

.fa-play:before {
  content: "\f04b";
}

.waves {
  position: absolute;
  width: 150px;
  height: 150px;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  border-radius: 100%;
  right: -50px;
  bottom: -50px;
  z-index: -1;
   -webkit-animation: waves 3s ease-in-out infinite;
  animation: waves 3s ease-in-out infinite;
}
        
.wave-1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.wave-2 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.wave-3 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}





ul {
  list-style-type: none;
}
.block-center {
    text-align: left;
    margin: auto;
    display: inline-block;
}